#crew-card {
    background-color: #C0C0C0;
}

.list-group-item {
    background-color: #C0C0C0;
}
.contactTitle {
    text-align: center;
}

.contactImage {
    text-align: center;
}

.submitBtn {
    text-align: center;
}

#navfont1 {                     /* Navbar font coloring */
    color: #ffc107;
}

#navfont2 {
    color: #ffc107;
}

#navfont3 {
    color: #ffc107;
}

#navbarDropdownMenuLink {
    color: #ffc107;
}

#jumbo {                            /* jumbotron */
    padding-top: 1px;
    background-color: #C0C0C0;
}

#slide {
    padding-top: 1px;
    background-color: #C0C0C0;
}

#hnrl {                         /* Navbar font sizing */
    font-size: 50px ;
}

.nav-link {
    font-size: 25px;
}

.dropdown-item {
    font-size: 20px;
}

.jumbotron {
    margin-top: 8rem;
}

.dcpic {                            /* About page picture */
    border: solid 5px #606060;
}

.carousel-item {                    /* carousel border */
    border: solid 5px #606060;
}



