* {
    background-color: #ffc107;
}

.navbar-brand {
    font-size: 35px ;
}

.nav-link {
    font-size: 25px;
}

.dropdown-item {
    font-size: 20px;
}

#slider {
    width: 60rem;
    margin: 50px auto 100px auto;
    margin-top: 6rem;
    border: solid 5px black;
}

div {
    background-color: #ffc107;
}




