

.navbar-brand {
    font-size: 45px ;
}

.nav-link {
    font-size: 25px;
}

.dropdown-item {
    font-size: 20px;
}

#slider {
    width: 60rem;
    margin: 50px auto 100px auto;
    margin-top: 6rem;
    border: solid 5px black;
}

<<<<<<< HEAD
=======


>>>>>>> 81ed7843a02e53172c8a15cd03b7a8bdec214fd7



